
ion-button{
    color: #673ab7;
    --background: white;
    --box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    font-weight: bold;
    }

    ion-card-title{
        color: #673ab7;
        font-weight: bold;
    }
    
    ion-icon{
        font-size: 18px;
    }

    .text{
        color: black;
        font-size: 14px;
        font-style: italic;
    }