
    ion-card-title{
        color: #673ab7;
        font-weight: bold;
        margin-bottom: 5%;
    }
    
    ion-icon{
        font-size: 18px;
    }

    .title{
        color: black;
        font-size: 14px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .design{
        color: black;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .description{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    ion-avatar{
        display: block;
        margin: auto;
        margin-top: 50%;
    }