<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-icon class="iconClose" (click)="dismiss()" slot="end" name="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input type="text" formControleName="username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Remember Me?</ion-label>
      <ion-checkbox formControleName="remember" checked="true"></ion-checkbox>
    </ion-item>  

    <ion-button type="submit" >Login</ion-button>
  </form>
  <p>Do not have an account? then</p>
  <ion-button (click)="openRegister()">Register</ion-button>
</ion-content>
