.paragraph{
    font-size: 10px;
    margin-bottom: 0px;
    margin-left: -18%;
}
.image{
    width: 100%;
    max-width: 100%;
}
h3{
    margin-left: 41%;
    margin-top: -37%;
    font-size: 15px;
}
ion-thumbnail{
    width: 50%;
}