.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.image{
  width: 100%;
}

.btn-facebook{
  color:#fff!important;
  background-color: #3b5998!important;
  border-radius: 17px;
}
.icon-facebook{
  color:#3b5998
}

.btn-google-plus{
  color:#fff!important;
  background-color: #dd4b49!important;
  border-radius: 17px;
}
.icon-google-plus{
  color:#dd4b49
}

.btn-youtube{
  color:#fff!important;
  background-color: #ff4b39!important;
  border-radius: 17px;
}
.icon-youtube{
  color:#ff4b39
}

.btn-linkedin{
  color:#fff!important;
  background-color: #007bb6!important;
  border-radius: 17px;
}
.icon-linkedin{
  color:#007bb6
}

.btn-twitter{
  color:#fff!important;
  background-color: #55acee!important;
  border-radius: 17px;
}
.icon-twitter{
  color:#55acee
}

.btn-mail{
  color:#fff!important;
  background-color: #512da8!important;
  border-radius: 17px;
}
.icon-mail{
  color:#512da8
}







